In [1]:
import pandas as pd
import numpy as np
train_tp = pd.read_csv("input/rfcx-species-audio-detection/train_tp.csv").reset_index(drop=True)

In [2]:
train_tp

,recording_id,species_id,songtype_id,t_min,f_min,t_max,f_max
0,003bec244,14,1,44.5440,2531.250,45.1307,5531.25
1,006ab765f,23,1,39.9615,7235.160,46.0452,11283.40
2,007f87ba2,12,1,39.1360,562.500,42.2720,3281.25
3,0099c367b,17,4,51.4206,1464.260,55.1996,4565.04
4,009b760e6,10,1,50.0854,947.461,52.5293,10852.70
...,...,...,...,...,...,...,...
1211,fe8d9ac40,13,1,53.4720,93.750,54.0960,843.75
1212,fea6b438a,4,1,43.5787,2531.250,45.7653,4031.25
1213,ff2eb9ce5,0,1,15.2267,5906.250,16.0213,8250.00
1214,ffb8d8391,5,1,14.3467,4781.250,16.6987,10406.20
1215,ffb9a7b9a,18,1,40.3200,3187.500,41.0133,5062.50

In [3]:
for recording_id, df in train_tp.groupby("recording_id"):
    break

In [4]:
recording_id

'003bec244'

In [5]:
df

  recording_id  species_id  songtype_id   t_min    f_min    t_max    f_max
0    003bec244          14            1  44.544  2531.25  45.1307  5531.25

In [42]:
t_min = 13
t_max = 43
def extract_patch(t_min, t_max):
    if 0 <= t_min < 8:
        start_patch = 0
    elif 7 <= t_min < 15:
        start_patch = 1
    elif 14 <= t_min < 23:
        start_patch = 2
    elif 22 <= t_min < 30:
        start_patch = 3
    elif 29 <= t_min < 27:
        start_patch = 4
    elif 37 <= t_min < 45:
        start_patch = 5
    elif 44 <= t_min < 52:
        start_patch = 6
    elif 51 <= t_min < 60:
        start_patch = 7
    else:
        raise NotImplementedError


    if 51 < t_max <= 60:
        end_patch = 7
    elif 44 < t_max <= 52:
        end_patch = 6
    elif 37 < t_max <= 45:
        end_patch = 5
    elif 29 < t_max <= 37:
        end_patch = 4
    elif 22 < t_max <= 30:
        end_patch = 3
    elif 14 < t_max <= 23:
        end_patch = 2
    elif 7 < t_max <= 15:
        end_patch = 1
    elif 0 < t_max <= 8:
        end_patch = 0
    else:
        raise NotImplementedError

    patch = [i for i in range(start_patch, end_patch+1)]
    return patch

In [45]:
labels = np.zeros((8,24))
labels.shape

(8, 24)

In [47]:
patch = extract_patch(df["t_min"].values, df["t_max"].values)
labels[patch] = np.eye(24)[df["species_id"]].tolist()[0]
labels

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.]])

In [49]:
tp_mask = labels > 0
tp_mask

array([[False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False,  True, False, False, False,
        False, False, False, False, False, False],
       [False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False, False, False, False,
        False, False, False, False, False, False]])